<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>Taux de choléstérol par age</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line-age-cholesterol></ngx-chartjs-line-age-cholesterol>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-6">
    <nb-card>
      <nb-card-header>Maladie cardiaque par catégorie d'age</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie-age-cardiacdisease></ngx-chartjs-pie-age-cardiacdisease>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6 col-md-6">
    <nb-card>
      <nb-card-header>Pression artérielle par genre</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-sex-bloodpressure></ngx-chartjs-bar-sex-bloodpressure>
      </nb-card-body>
    </nb-card>
  </div>
</div>